<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <title>Emotion detection & Recommendation</title>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nasv-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li> 
    </ul>
  </div>
</nav>
    <h1 class="text-center">Let's Detect Your Emotions</h1>
    <div class="container">
  <div class="row text-center">
    <div class="col-md"> 
      <div style="display:flex;flex-direction:column; align-items:center;
  justify-content:center;
  text-align:center;">
    
    <div class="animation-area .container-sm align-top" style="height: 75vh;width:100%;display:flex;flex-direction:column; align-items:center;
    justify-content:center;text-align:center">
    <p style="font-size:xx-large;padding-bottom:50px;" >Real time image</p>
    <p style="font-size:x-large;padding-bottom:20px;">To detect your emotion using the webcam feed</p>
    <form action="/RealTime" method="post">
      <input class="btn btn-primary btn-lg"type="submit" name="Real Time Image" value="Real Time Image" class="button" />
    </form>
 

  </div>
</div>
    </div>
    <div class="col-md">
      <div style="display:flex;flex-direction:column; align-items:center;
  justify-content:center;
  text-align:center;">
    <div class="animation-area .container-sm" style="height: 75vh;width:100%;display:flex;flex-direction:column; align-items:center;
    justify-content:center;text-align:center">
    <p style="font-size:xx-large;padding-bottom:50px;">Manually Upload Image</p>
    <p style="font-size:x-large;padding-bottom:20px;">To detect the emotion using the image you upload</p>
      <form action="/ManualUpload" method="post">
        <input class="btn btn-primary btn-lg"type="submit" name="Manually Upload Image" value="Manually Upload Image" class="button" />
      </form>
  </div>
  </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>