

body {
	display: flex;             /*Sets the display property to flex for using flexbox*/
	justify-content: center;   
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    text-align: center;
}
h1{
	font-size: 1.6em;
	margin-right: auto;
	align-self: center;
	margin-left: auto;

}

.container {                 /* Making a flex container for cards */
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;          /* for wrapping items into next line if the items 
                                are too large for given screen */
}

.card {
	width: 270px;
	height: 270px;
	position: relative;       /* for making the cards positions relative */
	display: flex;
    margin: 60px;
    margin-bottom:50px;
    margin-top:50px;
}

.card__img {
	position: absolute;        /* absolute position of image and body makes sure they remain stacked properly */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    transition: .5s;          /* transition time for animation */
	z-index: 2;               /* to specify the stack order */           
}

.card__img img {
	position: absolute;
	text-transform: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	z-index: 2;
	object-fit: cover;   /*to make the image strech to size of card */
}

.card__body {
	position: absolute;     
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	background: #679267;
	z-index: 1;           /* the value 1 will allow it to stack on top */ 
	display: flex;
	flex-direction: column;   /*sets the main axis to be columns */
	align-items: center;
	justify-content: flex-end;
	padding: 15px;
}

.card__body h2 {        
	font-size: 20px;
	color: #ffffff;
	line-height: 20px;
	font-weight: 500;
	text-align: center;
}

.card:hover .card__img {             /* will be used when we hover the mouse above cards */
	transform: translate(35px, -35px); 
}

.card:hover .card__body {
	transform: translate(-35px, 35px);
}

@media screen and (max-width: 768px) {
	.card:hover .card__img {
		transform: translate(0, -35px);     /* changes the animation according to window size */
	}

	.card:hover .card__body {
		transform: translate(0, 35px);
	}
}
